/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{color: black;
background-color: #FF00FF;
font-family: arial black;
display: inline-block;
}
h1{ color:black; 
border: 10px dotted black;
padding: 20px;
margin: 50px;
margin-left: 2px;
border-radius: 30px;
position: fixed;
bottom: 0;
}
img{ border-radius: 300px; width: 200px; z-index: 100; position: absolute;}
li{ border:5px solid;
margin-bottom: 15px;
padding-bottom: 15px;
}
.pomodoro-estimate{ border-radius: 300px;
border:10px dotted #4B0082;
color: darkblue;
}
.add-todo-button{ box-shadow: 10px 10px 1px green;}
.button{ color: white;
background-color: green;
box-shadow: 5px 5px 1px gray;
padding: 10px;
margin: 30px;
margin-bottom: 10px;
border-radius: 30px;
}
h4{ color: hotpink;
padding-bottom: 15px;
font-family: arial black;
font-size: 25px;
}
.other-button{ color: white;
background-color: red;
box-shadow: 5px 5px 1px gray;
padding: 10px;
margin: 30px;
margin-bottom: 10px;
border-radius: 30px;
}
.Go-Button{ color: white;
background-color: orange;
box-shadow: 5px 5px 1px gray;
padding: 10px;
margin: 30px;
margin-bottom: 10px;
border-radius: 30px;
}
h2{ color: purple;
padding-bottom: 15px;
font-family: arial black;
font-size: 25px;
}
h1{ color: blue;
padding-bottom: 15px;
font-family: arial black;
font-size: 30px;
}