<h1>Hello World</h1>
<h1>MY Todo List</h1>
<input placeholder="todo list items">
<input type="number" placeholder="pomodoro estimate">
<input class="add-todo-button" type="submit" value="add todo">
<ol>
    <li>Workshop Todo List</li> 
     <li> <input type="checkbox" checked="checked"> <a href="show/1">Make the curriculum</a> <span class="pomodoro-estimate">4 pomodoros</span></li>
    <li> <input type="checkbox"> <a href="show/2">Buy workshop supplies</a> <span class="pomodoro-estimate">3 pomodoros</span></li>
    <li> <input type="checkbox"> <a href="show/3">meet with volunteer trainers</a> <span class="pomodoro-estimate">2 pomodoros</span></li>
    <li> <input type="checkbox"> <a href="show/4">order food for Saturady and Sunday</a> <span class="pomodoro-estimate">1 pomodoros</span></li>
    <li> <input type="checkbox"> <a href="show/5">check pre-work assignments</a> <span class="pomodoro-estimate">2 pomodoros</span></li>
    <li> <input type="checkbox"> <a href="show/6">send workshop location to all the students</a> <span class="pomodoro-estimate">1 pomodoro</span></li>
    <li> <input type="password"> <a href="show/7">have a great workshop</a> <span class="pomodoro-estimate"> 0 pomodoros</span></li>
    
</ol>
<img src="https://ichef.bbci.co.uk/images/ic/960x540/p05lq43q.jpg"/>