<h1>Hello World</h1>
<h1>MY Todo List</h1>
<input placeholder="todo list items">
<input type="number" placeholder="pomodoro estimate">
<input class="add-todo-button" type="submit" value="add todo">
<ol>
    <li>Workshop Todo List</li> 
    <% @todos.each do |todo| %>
     <li> 
     <input type="checkbox" checked="checked"> 
     <a href="/todo/show/<%= todo.id %>"><%= todo.description %></a> 
     <span class="pomodoro-estimate"><%= todo.pomodoro_estimate %> pomodoros</span>
     </li>
     <% end %>
</ol>
<img src="https://ichef.bbci.co.uk/images/ic/960x540/p05lq43q.jpg"/>